/* ==================================
    Base Element Styles
===================================== */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  line-height: 1.6;
  background-color: #fff;
  color: #949699;
}

p {
  font-size: 1em;
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  color: #2774c4;
}

ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  margin: 15px 0;
  font-size: 1.8em;
  font-weight: normal;
  line-height: 0.8em;
 }
 
 h2 {
  font-size: 1em;
  font-weight: normal;
 }

 h1,
 h2 {
  color: 	#dededd;
 }

h3 {
  margin: 0 0 1em 0;
  font-size: 1.3em;
}

footer {
  font-size: 0.75 em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #949699;
}

/* ==================================
    Base Layout Styles
===================================== */
/* --------- Navigation Bar --------- */

.main-header {
  background: #2774c4;
  border-color: #2774c4;
}
.main-nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
  background: #14a7e0;
}

.main-nav ul {
  list-style: none;
  margin: 0 10px;
}

.main-nav li {
  display: inline-block;
}

.main-nav a {
  font-weight: 800;
  padding: 15px 20px;
}

.main-nav a, 
.main-nav a:visted {
  color: #3749ac;
}

.main-nav a.selected,
.main-nav a:hover {
  color: #3749ac;
}

.site-name {
  text-align: center;
  margin: 0;
}

.page-title {
  padding: 30px 0 10px;
}

/* --------- Layout Containers --------- */

.main-content,
.primary-content,
.secondary-content {
  width: 90%;
  margin: 0 auto;
}

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #dededd;
  color: #949699;
}

#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #949699;
}

.social-icon {
  margin: 0 8px;
}

/* --------- Page: Contact --------- */

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size 0.9em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.contact-info li.mail a {
  background-image: url('../img/mail.png');
}

.contact-info li.twitter a {
  background-image: url('../img/twitter.png');
}

/* --------- Page: About --------- */

.profile-photo {
  display: block;
  max-width: 150px;
  /* margin: 0 auto 30px; */
  border-radius: 100%;
  margin-top: 50px;
}

/* ==================================
    Flexbox
===================================== */

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-item {
  flex-grow: 6;
}

/* --------- Float Clearfix --------- */

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
  }
}